/* info flash *****************************************************************/
body.front #block-views-evenements-block-1{
  float:right;
  margin-left: 0;
}
/* Zoom ***********************************************************************/
#block-views-zoom-block{
    width : 320px;
    float : left;
    position : relative;
    padding-bottom : 16px;
    background: url(../images/wide/zoom_bg.png) no-repeat 0 100%;
    left: 0;
    margin-bottom : 0;
}
#block-views-zoom-block h2{
    background: url(../images/icons/arrow_orange_yellow.png) no-repeat 0 0;
    height:34px;
    border-bottom : 1px solid black;
    font-family: Lato,arial;
    text-transform: uppercase;
    width: 320px;
    text-align: right;
    padding-top:13px;
    font-weight: bold;
    font-size :1.8em;
}
#block-views-zoom-block p{
    margin:5px 0;
}

#block-views-zoom-block h3{
    margin : 8px 0 9px 0;
}
#block-views-zoom-block h3 a{
    font-family: lato, arial;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: block;
}
#node_show_zoom_group_summary_dates{
    position : absolute;
    bottom: 16px;
    left: 0;
    background-color: #DED9D6;
    width : 300px;
    opacity: 0.8;
    padding:10px;
}
/* menu du slideshow **********************************************************/

#block-menu-menu-shows-menu{
    z-index: 9;
    margin: 0;
}

/* show full page *************************************************************/
.ds-2col-stacked-fluid > .group-right .field-name-field-boxoffice-url{
    position : absolute;
    bottom : -10px;
    left:68px;
    width: 208px;
    height : 40px;
    background-color: #C20000;
}
.ds-2col-stacked-fluid.view-mode-full > .group-right .field-name-field-boxoffice-url a{
    display : block;
    height : 35px;
    text-align: center;
    text-decoration: none;
    color   : white;
    font-size: 1.4em;
    padding-top:5px;
    text-transform: uppercase;
    background : url(../images/icons/arrow_white.png) no-repeat 90% 50%;
}
.ds-2col-stacked-fluid.view-mode-full > .group-left {
    width: 61%;
}
div#node_show_full_group_shorts_links{
    width : 348px;
    height : 36px;
    position : absolute;
    bottom : -50px;
    left:0px;
    text-align: center;
}
ul.group-ul-short-links{
    
    height : 36px;
    margin : 0 auto;
    padding : 0;
    display:inline-block;

}
ul.group-ul-short-links> div{
   display: list-item;
   list-style: none;
   height: 36px;
   margin : 0 auto;
   padding : 0;
   display: inline-block;
}
ul.group-ul-short-links> div a{
   display:block;
   height: 36px;
   width: 74px;
   text-indent: -6000px;
   z-index:9;
   border-right: 1px solid #C1C1C1;
   
}
