blockquote{
  text-align: justify;
}
/* info flash *****************************************************************/
body.front #block-views-evenements-block-1{
  float:right;
  margin-left: 0;
}
body.front #block-views-evenements-block-1 div.view-content{
  width:75%
}

body.front #block-views-evenements-block-1 div.view-footer{
  width:25%
}
/* Zoom ***********************************************************************/
#block-views-zoom-block{
    width : 320px;
    float : left;
    position : relative;
    padding-bottom : 16px;
    background: url(../images/wide/zoom_bg.png) no-repeat 0 100%;
    left: 0;
    margin-bottom : 0;
}
#block-views-zoom-block h2{
    background: url(../images/icons/arrow_orange_yellow.png) no-repeat 0 0;
    height:34px;
    border-bottom : 1px solid black;
    font-family: Lato,arial;
    text-transform: uppercase;
    width: 245px;
    padding-top:13px;
    font-weight: bold;
    font-size :1.8em;
}
#block-views-zoom-block p{
    margin:5px 0;
}

#block-views-zoom-block h3{
    margin : 8px 0 9px 0;
}
#block-views-zoom-block h3 a{
    font-family: lato, arial;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: block;
    font-size:0.8em;
}
#node_show_zoom_group_summary_dates{
    position : absolute;
    bottom: 16px;
    left: 0;
    background-color: #DED9D6;
    width : 300px;
    opacity: 0.8;
    padding:10px;
}
/* slideshow **********************************************************/
#block-views-shows-block-1 h2.title-ss-home{
  clip: auto;
  height : auto;
  top: -30px;
  left: 33px;
  font-size : 1.4em;
}
#block-views-shows-block-1 h2.title-ss-home a{
  text-decoration: none;
}
#block-views-shows-block-1 h2.title-ss-home a:hover{
  text-decoration: underline;
  color : #0062a0;
}
 
#block-views-shows-block-1{
    float:right;
}
#nav-home-slider{
    z-index: 9;
    margin: 0;
}

/* Home page ******************************************************************/
h2.h2-event{
  margin-left:0;
  margin-top:20px;
  clear:both;
  width: 320px;
}

/* show full page *************************************************************/
.ds-2col-stacked-fluid > .group-right .field-name-field-boxoffice-url{
    position : absolute;
    bottom : -10px;
    left:68px;
    width: 208px;
    height : 40px;
    background-color: #C20000;
}
.ds-2col-stacked-fluid.view-mode-full > .group-right .field-name-field-boxoffice-url a{
    display : block;
    height : 35px;
    text-align: center;
    text-decoration: none;
    color   : white;
    font-size: 1.4em;
    padding-top:5px;
    text-transform: uppercase;
    background : url(../images/icons/arrow_white.png) no-repeat 90% 50%;
}
.ds-2col-stacked-fluid.view-mode-full > .group-left {
    width: 61%;
}
div#node_show_full_group_shorts_links{
    width : 348px;
    height : 36px;
    position : absolute;
    bottom : -50px;
    left:0px;
    text-align: center;
}
ul.group-ul-short-links{
    
    height : 36px;
    margin : 0 auto;
    padding : 0;
    display:inline-block;

}
ul.group-ul-short-links> div{
   display: list-item;
   list-style: none;
   height: 36px;
   margin : 0 auto;
   padding : 0;
   display: inline-block;
}
ul.group-ul-short-links> div a{
   display:block;
   height: 36px;
   width: 74px;
   text-indent: -6000px;
   z-index:9;
   border-right: 1px solid #C1C1C1;
   
}
/* nav ************************************************************************/
#block-superfish-1,#block-superfish-2{
    display : block;
}
#block-superfish-2{
   width: auto;
   float: right;
}
#block-superfish-1,#block-superfish-2{
    display : inline-table;
}
ul#superfish-2{
    margin-top : 0;
}
ul#superfish-2 li.sf-depth-1{
   display : block;
   float: left;
}
ul#superfish-2 li.sf-depth-1 a{
   width : 152px;
}

/* footer *********************************************************************/
#partner-text {
  font-size: 1em;
}
/* Home autres événements *****************************************************/
.view-evenements.view-display-id-block_2{
  clear: both;
}
.view-evenements.view-display-id-block_2 .views-row {
          float : left;
          width: 32%;
          height:auto;
          overflow: visible;
          margin : 0 0.5% 2% 0;
          padding : 0 0 30px 0;
          position: relative;
          background : transparent url(../images/icons/bg_bottom_home_events.jpg) no-repeat 50% 100%;
}
.view-evenements.view-display-id-block_2 .views-row.views-row-1 {
          clear : both;
          width: 35%;
          padding : 0 0 22px 0;
}
.view-evenements.view-display-id-block_2 .views-row.views-row-3 {
          margin : 0;
}
.view-evenements.view-display-id-block_2  .views-row h3.title-event-list{
  padding-left : 30px;
  background : transparent url(../images/icons/bg-h3-home-event.gif) no-repeat 0 50%;
}

.view-evenements.view-display-id-block_2  .views-row > .views-field-field-scald-image{
        float : none;
        margin-right: 0;
}
.view-evenements.view-display-id-block_2  .views-row >.views-field-body{
  position: absolute;
  bottom : 22px;
  background-color: #DED9D6;
  opacity: 0.8;
  width: 301px;
}
.view-evenements.view-display-id-block_2  .views-row.views-row-1 >.views-field-body{
  width: 325px;
}
.view-evenements.view-display-id-block_2 div.more-link{
  margin-bottom : 20px;
}
