/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
#boxes-box-logos_top{
    padding : 27px 0 17px 0; 
}
#section-content{
    margin-top:36px;
}
/* This file will hold styles that are loaded using the same media query as the wide grid. */

#zone-header{
    height : 112px;
    background: url(../images/wide/background_top_wide.gif) no-repeat 322px 0; 
}
#region-header-first{
    height : 112px;
}
/* Menu déroulant superfish niveau 1 ******************************************/
#block-superfish-1,#block-superfish-2{
    display : inline-table;
}

.block-superfish li.sf-depth-1 a{
   text-transform: uppercase;
   font-family: lato,arial;
   font-size : 1.2em;
   text-decoration : none;
   color : #292929;
   display:table-cell;
   vertical-align: middle;
}
.block-superfish ul.menu > li.sf-depth-1{
    margin:0;
}
ul#superfish-1 li.sf-depth-1 > a{
   width : 192px;
   text-align: center;
   height : 45px;
   border-bottom : 3px solid #ff6701;
   color : #292929;
   background: transparent url(../images/icons/separator_menu_1.png) no-repeat 100% 50%; 
}

ul#superfish-1 li.sf-depth-1.first > a:hover{
   border-bottom : 0;
}
ul#superfish-1 li.sf-depth-1.last > a{
   background-image: none;
   border-bottom : 3px solid #feca29;
}
ul#superfish-1 li.sf-depth-1 > a.active,
ul#superfish-1 li.sf-depth-1 > a:hover,
ul#superfish-1 li.sf-depth-1 > a.last:hover{
   border-bottom : 3px solid #C10000;
}
ul#superfish-2{
   border : 1px solid #000000;
   border-radius : 8px 8px 8px 8px;
   height : 48px;
   background-color : #ebe9ea;
}
ul#superfish-2 li.sf-depth-1 a{
   width : 153px;
   text-align: center;
   height : 47px;
}
ul#superfish-2 li.sf-depth-1.first > a{
   border-right:1px solid #000000;
}
ul#superfish-2 li.sf-depth-1.last > a{
   background: url(../images/icons/ticket_menu.png) no-repeat 95% 18px; 
}
ul#superfish-2 li.sf-depth-1 > a:hover,
ul#superfish-2 li.sf-depth-1 > a.active{
   border-radius : 8px 8px 8px 8px;
   height : 49px;
   color : white;
   background-color: #C10000 ; 
}
ul#superfish-1 > li.first > a{
    background: url(../images/wide/home.png) no-repeat 0 0; 
    text-indent : -3000px;
    width : 50px;
    height: 48px;
    border-bottom : 0;
    
}
ul#superfish-1 > li.first > a:hover,
ul#superfish-1 li.first a.active{
    background: url(../images/wide/home.png) no-repeat 0 100%; 
    border-bottom : 0;
}
a > .sf-sub-indicator {
    top: 1.2em;
}
ul.sf-horizontal li a > .sf-sub-indicator {
    background: url(../images/icons/arrow_menu_bottom.png) no-repeat 0 0; 
    height : 12px;
    width: 12px;
}

/* Menu déroulant superfish niveau 2 ******************************************/
.sf-horizontal > li > ul{
    margin-top:16px;
}
.sf-horizontal > li > ul li a{
    display : block;
    padding : 10px;
}


/* menu contact ***************************************************************/
#block-menu-menu-contact{
    width : 75px;
    float : left;
    margin : 8px 0 10px 95px;
}
#block-menu-menu-contact ul li a{
     background: url(../images/icons/location_wide.gif) no-repeat 0 4px;
     display : block;
     padding-left : 20px;
     text-transform: capitalize;
     text-decoration: none;
     color : #272727;
}
#block-menu-menu-contact ul li a:hover{
     background: url(../images/icons/location_wide.gif) no-repeat 0 110%;
     color : #c10000;
}

/* Menu de commodité haut *****************************************************/
#block-menu-menu-top-courtesy-nav{
    float:right;
    margin : 6px 0 0 0;
}
#block-menu-menu-top-courtesy-nav ul li{
    float:right;
    list-style: none;
}
#block-menu-menu-top-courtesy-nav ul li a{
    text-decoration: none;
    color : #272727;
    border-left: 1px solid #757575;
    display : block;
    padding : 0 7px;
}
#block-menu-menu-top-courtesy-nav ul li.last a{
    padding : 0 0 0 7px;
    margin-right:-7px;
}
/* menu bas *******************************************************************/
#region-footer-second ul{
  text-align: center;  
}
#region-footer-second ul li{
    list-style: none;
    text-decoration: none;
    display : inline;
}

#region-footer-second ul li a{
    text-decoration: none;
    color : #282828;
    text-transform: uppercase;
    padding : 0 8px;
    border-right : 1px solid #282828;
}
#region-footer-second ul li.last a{
   border-right :0;
}
/* Réseaux sociaux ************************************************************/
#block-boxes-social-network{
    clear :left;
    margin : 0 0 0 150px;
    float : left;
}
/* zone de recherche **********************************************************/
#block-search-form{
    float:right;
    margin-top : 20px;
}
#block-search-form input{
    border : 1px solid #ebe9ea;
}
#block-search-form div.container-inline{
    background-color : #ebe9ea;
}
#block-search-form input.form-text{
    width : 146px
}

#block-search-form .form-submit{
    width : 28px;
    text-indent: -6000px;
    height : 25px;
    background: url(../images/icons/search_submit.gif) no-repeat 0 0;
    margin : 0;
    border : 0;
    border-radius : 0;
}
#block-search-form #edit-submit:hover{
    background: url(../images/icons/search_submit.gif) no-repeat 0 100%;
}
/* Sprite *********************************************************************/

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float : left;
    margin : 0 5px 0 0;
}
.sprite a{
    display:block;
    text-indent:-6000px;
    width : 100%;
    height: 100%;
}

.sprite-facebook {
    width: 25px;
    height: 23px;
    background-position: -5px -5px;
}

.sprite-tripadvisor {
    width: 25px;
    height: 23px;
    background-position: -5px -38px;
}

.sprite-twitter {
    width: 25px;
    height: 23px;
    background-position: -40px -5px;
}

.sprite-youtube {
    width: 25px;
    height: 23px;
    background-position: -40px -38px;
}

/*footer ******************************************************************/
#footer-bottom{
    background: #f5f3f4 url(../images/icons/background_footer.png) no-repeat 56% 0;
    padding : 10px;
    border-bottom : 1px solid black;
    height: 56px;
    margin:0;
}
#address-bottom{
    float : left;
    width: 62%;
}
#partner-text{
    float : left;
    width: 25%;
}
#partner-images{
    float : right;
    width: 11%;
}
#partner-images img{
    margin-left:3px;
}

/* Page d'accueil *************************************************************/
#block-views-zoom-block h2{
    background: url(../images/icons/arrow_orange_yellow.png) no-repeat 0 0;
    height:34px;
    border-bottom : 1px solid black;
    font-family: Lato,arial;
    text-transform: uppercase;
    width: 320px;
    text-align: right;
    padding-top:13px;
    font-weight: bold;
    font-size :1.8em;
}
#block-views-zoom-block{
    width : 320px;
    float : left;
}
#block-views-shows-block-1{
    /*width : 549px;*/
    height: 337px;
    background: url(../images/wide/background_home_slideshow.png) no-repeat 0 0;
    padding:28px 16px 28px 26px;
    float:left;
    margin-left : 27px;
    overflow: hidden;
    position : relative;
}
#block-views-shows-block-1 .block-inner{
    position:relative;
}

div.group6{
    float:left;
 
}
#block-views-shows-block-1 .views-row{
    width : 150px;
    height: 150px;
    overflow: hidden;
    float : left;
    margin-right:10px;
    position : relative;
    margin-bottom:25px;
}
#block-views-shows-block-1 .views-row img{
    border-radius : 4px;
}
#block-views-shows-block-1 .views-row div.group-td{
    position:absolute;
    bottom:0;
    left : 0;
    background-color: #EBEAEA;
    opacity:0.8;
}
#block-views-shows-block-1 .views-row div.group-td h3{
    margin : 0;
}
#block-views-shows-block-1 .views-row div.group-td h3 a{
    margin : 0;
    padding:5px 10px;
    text-decoration: none;
    color : #000000;
    display:block;
    font-family: lato,arial;
    line-height:1em;
    font-size : 0.8em;
}
#block-views-shows-block-1 .views-row div.group-td h3 a:hover,
#block-menu-menu-shows-menu ul > li > a:hover{
    color : #C10000;
}
#block-views-shows-block-1 .views-row div.group-td .field-type-date{
    padding:0 10px;
}
#block-menu-menu-shows-menu ul,#block-menu-menu-shows-menu ul li{
    list-style: none;
    float : left;
    
}
#block-menu-menu-shows-menu ul{
    margin : 0 0 0 60px;
    position : relative;
    z-index : 999;
    top:-28px;
}
#block-menu-menu-shows-menu ul > li > a{
    color : #000000;
    text-decoration: none;
    height:18px;
    display : block;
}
#block-menu-menu-shows-menu ul > li.first > a{
    padding-right: 25px;
    background: url(../images/icons/all_shows.png) no-repeat 100% 4px;
}
#block-menu-menu-shows-menu ul > li.last > a{
    padding-right: 25px;
    background: url(../images/icons/calendar-small.png) no-repeat 100% 0px;
}

/* slideshow ******************************************************************/
#controlers{
    height:20px;
    widht:20px;
}
#previous_diapo,#next_diapo{
    height:20px;
    width:20px;
}
#previous_diapo{
    position:absolute;
    top:0px;
    left : 0;
    cursor: pointer;
    z-index:9;
}
#next_diapo{
    position:absolute;
    top:0px;
    right : 0;
    cursor: pointer;
    z-index:9;
}

#buttons_controlers{
    position:absolute;
    bottom:0;
    right:25px;
    z-index:99;
}
#buttons_controlers div{
    display:inline-block;
    width : 20px;
    height:20px;
    cursor: pointer;
    background: url(../images/icons/on-off-home-ss.png) no-repeat 0 100%;
}
#buttons_controlers div.selected_controler{
    background: url(../images/icons/on-off-home-ss.png) no-repeat 0 0;
}