/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#logos-top h1{
    float : left;
    font-size :0.8077em; /* 9/16 */
    font-family:arial;
    margin : 7px 2% 0 0;
           
}
#logos-top h1 span{
    padding-left:18px;
}
.link_calendar{
    background: url("../images/icons/calendar-small.png") no-repeat 0 0;
    padding-left: 25px;
    display : block;
    color : #C20003;
}
/* menus **********************************************************************/
.block-menu a{
    font-family: lato,arial;
}
/* Eléments invisibles ********************************************************/
#block-boxes-social-network h2,
#block-search-form h2,
.block-superfish h2,
#block-menu-menu-top-courtesy-nav h2,
#block-menu-menu-contact h2,
#block-views-shows-block-1 h2,
#block-menu-menu-shows-menu h2,
#address-bottom h2,
#block-menu-menu-practicle-menu h2,
#block-menu-menu-bottom-courtesy h2,
.block-domainedo-breadcrumb h2,
#block-menu-block-domainedo-shows-tab-menu h2{
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
}
label br{
    display:none;
}

/* menu contact ***************************************************************/
#block-menu-menu-contact ul{
    padding:0;
    margin:0;
}
#block-menu-menu-contact ul li{
    list-style: none;
    padding:0;
    margin:0;
}
#block-menu-menu-contact ul li a{
    color:black;
    text-transform: uppercase;
}
h2{
    font-family: lato,arial;
}
h2#page-title{
    margin-top: 15px;
    border-bottom : 1px solid black;
}
.field-name-field-show-dates .field-items{
    max-height : 36px;
    overflow-y: auto;
    text-align: left;
    padding-right : 5px;
    margin-bottom: 15px;
}
.number_show_dates{
    color: #C20000;
    font-weight: bold;
    text-transform:uppercase;
    text-align: left;
}
.view-shows .group-left{
    position : relative;
}
.view-shows .group-left .reservation-status-4{
    position: absolute;
    top : 0;
    left : 0;
    width: 240px;
    height : 57px;
    background: url("../images/icons/canceled.png") no-repeat 100% 0;
    text-indent: -2000px;
}

/* media queries **************************************************************/
@media screen and (max-width:740px){ 
    #region-header-first,#region-header-second{
        max-width: 50%;
        float : left;
    }
    #boxes-box-logos_top{
        margin-top:10px; 
    }
    #logos-top h1{
        max-width : 70%;      
    }
    #logo-domainedo-top{
        max-width : 100%;
    }
    #cg-top{
        max-width : 16%;
    }
    #logos-top h1 span{
        display:none;
    }
    #zone-header{
        background: url(../images/sp/background_top_sp.gif) no-repeat 100% 0;
    }
    /* Menu contact***********************************************************/
    #zone-header{
        /*border : 1px solid red;*/
        padding:0;
    }
    #region-header-second{
        width: 43%;
        margin:0;
        float:right;
    }
    
    #block-menu-menu-contact ul li a{
        display:block;
        height: 47px;
        background: url(../images/sp/location.png) no-repeat 100% 50%;
        text-decoration: none;
        font-size : 1.2em;
        text-align: right;
        padding: 20px 45px 0 10px;
        font-weight : bold;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    #block-menu-menu-contact ul li.active-trail a{
        background: url(../images/sp/location_over.png) no-repeat 100% 50%;
    }
    /* Menu accordeon *********************************************************/
    #menu-accordion{
        border-top : 1px solid #181818;
        border-bottom : 1px solid #181818;
        text-align : right;
        padding-right : 50px;
        height : 35px;
        text-transform: uppercase;
        color : #181818;
        padding-top : 6px;
        font-size : 1.5em;
        font-family: lato,arial;
    }
    .menu-off{
        background: #FFFFFF url(../images/sp/menu.png) no-repeat 100% 0%;
    }
    .menu-on{
        background: #000000 url(../images/sp/menu.png) no-repeat 0 0;
    }
    #zone-menu{
      position : absolute;
      top: 74px;
      right : -10px;
      z-index : 9999;
      width :90%;
      
    }
    #region-menu div.block-menu ul li{
       list-style: none; 
    }
    #region-menu div.block-menu ul li a,
    #region-menu div.block-menu ul li a:visited,
    #region-menu div.block-menu ul li a:active{
       text-decoration: none;
       color : white;
       display:block;
       padding :10px 0;
       border-bottom : 1px solid white;
    }
    #region-menu div.block-menu ul li.expanded>a{
        background: url(../images/sp/arrow_menu.png) no-repeat 100% 50%;
    }
    #region-menu .block-menu{
        padding-left : 20px;
    }
    #block-system-main-menu{
        background-color :black;
    }
    #block-menu-menu-practicle-menu{
        background-color :#2e2c2d;
    }
    #block-menu-menu-top-courtesy-nav{
        background-color :#3b3b3b;
    }
    #block-menu-menu-bottom-courtesy{
        background-color :#4d4d4d;
    }
    /*footer ******************************************************************/
    .zone-footer-wrapper{
        background-color: #f5f4f4;
    }
    #footer-bottom{
        background: url(../images/icons/background_footer.png) no-repeat -10px 0;
        height:85px;
    }
    #address-bottom{
        display:none;
    }
    #partner-bottom{
        padding-left :100px;
    }
    #partner-text{
        font-size : 0.6em;
        max-width: 48%;
        float : left;
        padding-top: 15px
    }
    #partner-images{
        max-width: 44%;
        float : right;
        margin: 5px 0 0 15px;
    }
    #partner-images img{
        max-width: 45%;
        margin-left : 1px;
    }
   
    
    /* sprite *****************************************************************/
      .ul-sprite{
        width: 100%;
        border:1px solid black;
        height : 48px;
        margin:0;
        padding:0;
        background-color: #ebeaea;
   }
   .sprite {
        background: #ebeaea url(../images/sp/social_sp.png);
        background-repeat: no-repeat;
        display: block;
        float : left;
        margin : 0;
        padding:0;
        height : 48px;
        width:24%;
        border-right:1px solid black;
    }
    .sprite a{
        display:block;
        text-indent:-6000px;
        width : 100%;
        height: 100%;
    }
    .sprite-facebook {
        background-position: 50% 0;
      }
      .sprite-facebook:hover {
        background-position: 50% -48px;
      }
      .sprite-youtube {
          background-position: 50% -96px;
      }
      .sprite-youtube:hover {
          background-position: 50% -144px;
      }
      .sprite-twitter {
          background-position: 50% -192px;
      }
      .sprite-twitter:hover {
          background-position: 50% -240px;
      }
      .sprite-tripadvisor{
          background-position: 50% -288px;
          border-right:0;
      }
      .sprite-tripadvisor:hover {
          background-position: 50% -332px;
      }
    
       
}
@media screen and (max-width:480px){ 
    
    #zone-header{
        background: url(../images/sp/background_top_sp.gif) no-repeat 150% 0;
    }
       
}