/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#logos-top h1{
    float : left;
    font-size :0.8077em; /* 9/16 */
    font-family:arial;
    margin : 7px 2% 0 0;
           
}
#logos-top h1 span{
    padding-left:18px;
}
/* Sprite *********************************************************************/
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float : left;
    margin : 0 5px 0 0;
}
.sprite a{
    display:block;
    text-indent:-6000px;
    width : 100%;
    height: 100%;
}

.sprite-facebook {
    width: 25px;
    height: 23px;
    background-position: -5px -5px;
}

.sprite-tripadvisor {
    width: 25px;
    height: 23px;
    background-position: -5px -38px;
}

.sprite-twitter {
    width: 25px;
    height: 23px;
    background-position: -40px -5px;
}

.sprite-youtube {
    width: 25px;
    height: 23px;
    background-position: -40px -38px;
}
/* menu contact ***************************************************************/
#block-menu-menu-contact ul{
    padding:0;
    margin:0;
}
#block-menu-menu-contact ul li{
    list-style: none;
    padding:0;
    margin:0;
}
#block-menu-menu-contact ul li a{
        color:black;
        text-transform: uppercase;
        font-family: lato,arial;
    }

/* media queries **************************************************************/
@media screen and (max-width:740px){ 
    #region-header-first,#region-header-second{
        max-width: 50%;
        float : left;
    }
    #boxes-box-logos_top{
        margin-top:10px; 
    }
    #logos-top h1{
        max-width : 70%;      
    }
    #logo-domainedo-top{
        max-width : 100%;
    }
    #cg-top{
        max-width : 16%;
    }
    #logos-top h1 span{
        display:none;
    }
    #zone-header{
        background: url(../images/sp/background_top_sp.gif) no-repeat 100% 0;
    }
    /* Menu contact***********************************************************/
    #zone-header{
        /*border : 1px solid red;*/
        padding:0;
    }
    #region-header-second{
        width: 43%;
        margin:0;
        float:right;
    }
    
    #block-menu-menu-contact ul li a{
        display:block;
        height: 47px;
        background: url(../images/sp/location.png) no-repeat 100% 50%;
        text-decoration: none;
        font-size : 1.2em;
        text-align: right;
        padding: 20px 45px 0 10px;
        font-family: lato,arial;
        font-weight : bold;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    #block-menu-menu-contact ul li.active-trail a{
        background: url(../images/sp/location_over.png) no-repeat 100% 50%;
    }
    /* Menu accordeon *********************************************************/
    #menu-accordion{
        border-top : 1px solid #181818;
        border-bottom : 1px solid #181818;
        text-align : right;
        padding-right : 50px;
        height : 35px;
        font-family: lato,arial;
        text-transform: uppercase;
        color : #181818;
        padding-top : 6px;
        font-size : 1.5em;
    }
    .menu-off{
        background: #FFFFFF url(../images/sp/menu.png) no-repeat 100% 0%;
    }
    .menu-on{
        background: #000000 url(../images/sp/menu.png) no-repeat 0 0;
    }
    #zone-menu{
      position : absolute;
      top: 74px;
      right : -10px;
      z-index : 9999;
      width :90%;
      
    }
    #region-menu div.block-menu ul li{
       list-style: none; 
    }
    #region-menu div.block-menu ul li a,
    #region-menu div.block-menu ul li a:visited,
    #region-menu div.block-menu ul li a:active{
       text-decoration: none;
       color : white;
       display:block;
       padding :10px 0;
       border-bottom : 1px solid white;
       font-family: lato,arial;
    }
    #region-menu div.block-menu ul li.expanded>a{
        background: url(../images/sp/arrow_menu.png) no-repeat 100% 50%;
    }
    #region-menu .block-menu{
        padding-left : 20px;
    }
    #block-system-main-menu{
        background-color :black;
    }
    #block-menu-menu-practicle-menu{
        background-color :#2e2c2d;
    }
    #block-menu-menu-top-courtesy-nav{
        background-color :#3b3b3b;
    }
    #block-menu-menu-bottom-courtesy{
        background-color :#4d4d4d;
    }
    
       
}
@media screen and (max-width:480px){ 
    
    #zone-header{
        background: url(../images/sp/background_top_sp.gif) no-repeat 150% 0;
    }
       
}