# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
gitflow/
.idea/
sites/all/themes/custom/ddobs/less/node_modules
sites/all/themes/custom/ddobs/less/fonts/
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore web-push PHP library and its dependencies
sites/all/vendor
