.node-type-page {
  .field-name-scald-authors {
    display: none;
  }
  .field-name-field-image-page-complexe {
    &:after{
      content: "";
      width: 98%;
      height: 85px;
      position: absolute;
      bottom: 0;
      left: 1%;
      background: linear-gradient(to bottom,rgba(0,0,0,0),#000);
    }
  }
  .main-container {
    position: relative;
    h2.page-header {
      position: absolute;
      top: -60px;
      border: 0;
      .big-off-orange-title();
      &:after {
        margin-top: -7px !important;
      }
      border-top: 150px;

    }
    .field-name-body {
      margin-top: 45px;
    }
  }
  section.no-img-top {
    h2.page-header {
      position: static;
      top: 0;
      border: 0;
      .big-off-orange-title();
      margin-top: 10px;
      color: #000;
      display: table;
    }
  }
}
