.view-calendar {
  .view-header {
    position: relative;
    h3 {
      position: absolute;
      top: -80px;
      left: -20px;
      font-size: 2em; /* 32/16 */
      text-transform: uppercase;
      margin: 96px 0 20px 24px;
      font-weight: bold;
    }
  }
}