.page-calendrier{
  ul.pagination.pull-right {
    /* pour les grands écrans  ***********/
    @media (min-width: @screen-sm) {
      margin-right: 52%;
    }
  }
}
.view-calendar {
  .view-header {
    position: relative;
    h3 {
      position: absolute;
      top: -80px;
      left: -20px;
      font-size: 2em; /* 32/16 */
      text-transform: uppercase;
      margin: 96px 0 20px 24px;
      font-weight: bold;
    }
    li.prev {
      a {
        width: 90px;
      }
    }

  }
  /* Specific calendar **************************************************************************************************/
  .calendar-calendar .month-view table#calendar-domainedo {
    float: left;
    /* pour les petits écrans  ***********/
    @media (max-width: @screen-sm) {
      width: 100%;
      td {
        width: 14%;
      }
    }
    /* pour les grands écrans  ***********/
    @media (min-width: @screen-sm) {
      width: auto;
    }
    /* Pour petits et grands écrans ****************/
    th {
      padding: 15px 0 30px 0;
      background-color: transparent;
      border: 0;
      font-family: "Gotham", Arial, sans-serif;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }
    td {
      width: 80px;
      &.date-box {
        &.empty {
          background-color: transparent;
        }
        height: 20px;
        border: 0;
        > div {
          border: 0;
          > div {
            border: 0;
            background-color: transparent;
          }
        }
      }
      &.single-day {
        height: 60px;
        border: 0;
        &.empty {
          background-color: transparent;
        }
        .group-show-points-domainedo {
          display: table;
          margin: 0 auto;
          min-height : 50px;
          &:hover {
            cursor: pointer;
          }
          &.group-size-6{
            width: 60px;
          }
          &.group-size-5{
            width: 50px;
          }
          &.group-size-4{
            width: 60px;
          }
          &.group-size-3{
            width: 30px;
          }
          &.group-size-2{
            width: 20px;
          }
          &.group-size-1{
            width: 10px;
          }
          .item-show-point-domainedo {
            width: 9px;
            height: 9px;
            background-color: @grenadine-ddo !important;
            float: left;
            margin: 1px 1px 1px 0;
            border-radius: 7px;
          }
        }
      }
      div.day {
        float: none;
        width: auto;
      }
      overflow: hidden;
      transition: 0.5s;
      &:hover {
        background-color: @gris-clair-ddo;
      }
      div.inner {
        div {
          background-color: transparent !important;
        }
      }
    }
  }
  #calendar-detail-domainedo {
    float: left;
    width: 40%;
    min-height: 500px;
    
    .right-date {
      clear: both;
      display: block;
      text-align: center;
      font-family: "Gotham", Arial, sans-serif;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }
    
    .date-full-domainedo {
      clip: rect(1px,1px,1px,1px);
      height: 1px;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
      z-index: -1000;
    }
  }
}