.node-type-festival {
  #headband-festival {
    background: url(../images/bg_gray.gif);
    .group-affiche-festival {
      img {
        margin-bottom: 50px;
      }
      .field-name-scald-authors{
        display: none;
      }
    }
    .group-essential-festival {
      background-color: @grenadine-ddo;
      color: white;
      padding: 25px 30px;
      h2 {
        font-size: 1.875em;/* 30/16 */
        text-transform: uppercase;
        margin: 0 25px 0 0;
        font-weight: bold;
        margin-bottom: 30px;
      }
      a {
        color: white;
        font-size: 0.6875em;/* 11/16 */
        text-transform: uppercase;
        display: block;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 15px;
        &:before{
          .glyphicon();
          color: white;
          font-size: 1.25em;/* 20/16 */
        }
      }
      .field-name-link-shows{
        a:before{
          content: "\f291";
        }
      }
      .field-name-field-programme-pdf{
        a:before{
          content: "\e823";
        }
      }
      .field-name-field-feuilleter-en-ligne {
        a:before{
          content: "\e82f";
        }
      }
       .field-name-field-calendar-archive {
        a:before{
          content: "\e807";
        }
      }
      .field-name-field-view-archives{
        a:before{
          content: "\f0ae";
        }
      }
       .field-name-field-facebook{
        a:before{
          content: "\e801";
        }
      }
      img {
        display: none;
      }
    }
  }

  .node-show {
    .group-show-list {
      .group-black-bg {
        height: 13%;
        .field-name-node-link a {
          font-size: 0.825em;
        }
        .field-name-field-boxoffice-url {
          right: 10%;
          a {
            font-size: 0.825em;
          }
        }

      }
    }
  }
}