.page-espace-multimedia {
  h2.page-header {
    border: 0;
    .big-off-orange-title();
    &:after {
      margin-top: -7px !important;
    }
    color: #000;
  }
  #edit-scald-tags-tid-wrapper {
    div.form-item {
      float: left;
      a {
        text-transform: uppercase;
        color: @grenadine-ddo;
        margin-bottom: 20px;
        margin-right: 10px;
        display: block;
      }
      div.selected {
        a {
          color: #000;
        }
      }
    }
  }
  .field-content {
    a {
      img {
        margin-bottom: 20px;
      }
    }
  }
}
