.page-espace-multimedia {
  h2.page-header {
    border: 0;
    .big-off-orange-title();
    font-style: normal;
    font-weight: 800;
    &:after {
      margin-top: -11px !important;
    }
    color: #000;
  }
  .no-img-top {
    h2.page-header {
      border: 0;
      display: table;
      .big-off-orange-title-no-img-top();
      font-style: normal;
      font-weight: 800;
      &:after {
        margin-top: -11px !important;
      }
      color: #000;
    }
  }
  #edit-scald-tags-tid-wrapper {
    div.form-item {
      float: left;
      a {
        .button-bg-black();
      }
      div.selected {
        a {
          background-color: @grenadine-ddo;
          color: #FFF;
        }
      }
    }
  }
  .field-content {
    a {
      img {
        margin-bottom: 20px;
      }
    }
  }
}
