[id*="block-views-personnes"] {
  h2.block-title {
    font-style: normal;
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 1.375em;
  }
  [id*="node-personne"] {

    h3 {
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      color: @grenadine-ddo;
      font-size: 1.25em;
    }
    .field {
      font-style: italic;
      font-weight: 400;
    }
  }
}
#block-views-personnes-block-artistique,
#block-views-personnes-block-1,
#block-views-personnes-block-2,
#block-views-personnes-block-equipe-recettes,
#block-views-personnes-block-3,
#block-views-personnes-block-billetterie,
#block-views-personnes-block-rh
{
  h2.block-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em; /* 24/16px */
    margin: 10px 0;
  }
  .field-name-field-person-img-1 {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .field-name-field-person-img-2 {
    display: none;
  }
}